.git
.github
node_modules
vendor
tests
secrets/*
storage/logs/*
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
*.md
phpunit.xml
phpcs.xml
phpstan.neon
psalm.xml
.editorconfig
.gitignore
.gitattributes
docker-compose.yml
Makefile
